<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" />
  <package id="google-chrome-x64" />
  <package id="git" />
  <package id="vlc" />
  <package id="winscp" />
  <package id="virtualbox" />
  <package id="VirtualBox.ExtensionPack" />
  <package id="vagrant" />
  <package id="dropbox" />
</packages>
